:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  
    color: rgba(15, 15, 15, 1.0);
    /* background-color:rgba(255, 0, 0, 0.1); */
    background-color: rgba(255, 255, 255, 0.0);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: graysale;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    --opacity: var(0.5);
}

body {
  /* background-image: url("/test_bg2.jpg") */
}

.rbox {
  background-color: rgba(255, 255, 255, --opacity);
  color: black;
  border-radius: 5px;
  padding: 10px;
}

.interact-overlay {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-100 {
  background-color: rgba(255, 255, 255, 1.0);
}
.bg-white-75 {
  background-color: rgba(255, 255, 255, 0.75);
}
.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-white-25 {
  background-color: rgba(255, 255, 255, 0.25);
}


.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bd-color-swatch {
  border-radius:.25em;
  box-shadow:0 .125em .25em 0 rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.1);
  display:inline-flex;
  font-size:.875em;
  gap:.375em;
  line-height:1;
  min-height:1.5rem;
  min-width:1.5rem;
  padding:.5rem;
  vertical-align:top;
  white-space:nowrap;
  margin-left:.25em;
  height: 20px !important;
  width: 20px !important;
}
.bd-color-swatch.is-rounded {
  border-radius: 15px;
}